<% include partials/header %>

<p>Camp ID: <%= camp._id %> </p>
<p><h1><%= camp.name %></h1></p>
<p><img src="<%= camp.image %>" style="width:400px; height:300px;"/> </p>
<p><%= camp.description %> </p>

<% include partials/footer %>